<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is test</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

</head>
<body>
<div id="app" class="app">
    {{message}}

    <div v-if="type === 'A' ">A</div>
    <div v-if="type === 'B' ">B</div>
    <div v-if="type === 'C' ">C</div>

    <input type="text" v-model="type">
    <select v-model="type">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>
    <p v-if="type =='B'">如果为B我将出现</p>
    <br> <input type="button" value="test">
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'this is test',
            type: ''
        }
    })
</script>
<style>
    .app {
        margin-left: 500px;
        margin-top: 200px;
    }
</style>
</body>
</html>